<?xml version="1.0" encoding="UTF-8"?>

<DescriptionSetTemplate 
    xmlns="http://dublincore.org/xml/dc-dsp/2008/01/14" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://dublincore.org/xml/dc-dsp/2008/01/14">

        {% for key, description in dsp.descriptions.items() %}
        <DescriptionTemplate ID="{{ description.ID }}" minOccurs="{{ description.min }}" maxOccurs="{{ description.max }}" standalone="{{ description.standalone }}">
            {% for key, statement in description.statements.items() %}
            <StatementTemplate ID="{{ key }}" minOccurs="{{ statement.min }}" maxOccurs="{{ statement.max }}" type="{{ statement.type }}">
                <Property>{{ statement.proprery }}</Property>
            </StatementTemplate>
            {% endfor %}
        </DescriptionTemplate>
        {% endfor %}

</DescriptionSetTemplate>